h1.about-header { 
    font-family: 'Poppins';
    font-size: 48px;
    text-align: center;
    color:red;
}

p.about
{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 20vh;
    font-weight: 500;
    font-size: 18px;
}

p.github-logo{
    display:flex;
    justify-content: center;
    align-items: center;
}

a.about-us {
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #0078d4;
    transition: color 0.3s;
}

a.about-us:hover {
    text-decoration: underline;
}

