.button-container {
    display: flex;
}

.button-container button {
    margin-right: 50px;
    width: 125px;
    height: 40px;
}
.button-container button:first-child {
    margin-left: 50px; /* Passen Sie den Wert nach Bedarf an */
}