/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*

body.game-body
{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    padding-top: 100px;
}

h1.game-header{
    font-family: 'Poppins';
    font-size: 48px;
    text-align: center;
    color:red;
}

.mesh{
  background-color: #f2f2f2;
  height: 400px;
  width: 900px;
  border: 5px solid rgb(0, 0, 0);
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  text-align: justify;
  font-size: 25px;
}

.button-container-dice{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    flex-direction: column;
    gap: 20px;
}
a.game-link-dice{
    position: relative;
    background: #000;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 5px 20px;
    transition: 0.5s;
}
a.game-link-dice:hover{
    background: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}

.button-container-piece{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    flex-direction: row;
    gap: 50px;
}
a.game-link-piece{
    position: relative;
    background: #000;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 5px 30px;
    transition: 0.5s;
}
a.game-link-piece:hover{
    background: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}

@media screen and (max-width: 768px) {
  .mesh {
      padding: 10px;
      font-size: 16px;
      height: 250px;
      width: 350px;
  }

  .button-container-dice,
    .button-container-piece {
        flex-direction: column;
        gap: 15px;
    }
  }*/