<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #87CEEB;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #FFFF00;
  color: black;
}

.topnav a.active {
  background-color: #FFD700;
  color: white;
}
</style>
</head>
<body>

<div class="topnav">
    <a href="/">Home</a>
    <a href="roll">Game</a>
    <a class="active" href="about">About</a>
</div>
<h1>Welcome to MADN!</h1>
<h2><b>Rules:</b></h2>
<body>This is a project made by Ümit Simsek and Can Kabak</body>
<br><br>
<body>This was made for a lecture in the HTWG-Konstanz</body>
<br><br>
<a href="https://github.com/ReapreZ/madn-webapp">Link to the github</a>


