@main(title = "About", currentPath = "/about") {

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/about.css")">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<h1 class="about-header">About Us</h1>

    <div class="about-div">
            
            <p class="about">
                This is a project made by Ümit Simsek and Can Kabak. <br>
                This was made for a lecture at the HTWG-Konstanz.
            </p>
            <p class="github-logo">
                <i class="fa fa-github" style="font-size:96px; color:red"></i>
            </p>
            <a class="about-us" href="https://github.com/ReapreZ/madn-webapp">Link to the github</a>
    </div>

}