@(mesh: String)

@main(title = "Game", currentPath = "/game") {
<htlm>
    <head>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/game.css")">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>

    <body>
        <br><br><br>
        <h1 class="game-header">Game</h1>
    <div class="mesh">
        <pre>@mesh</pre>
    </div>

    <body class="game-body">
        <br><br>
        <div class="button-container-dice">
            <a class="btn btn-danger game-link-dice" style="--clr:#ff3333" href="@routes.HomeController.roll" role="button">Roll Dice</a>
            <a class="btn btn-danger game-link-dice" style="--clr:#ff3333" href="@routes.HomeController.moveMagic" role="button">Roll Magic Dice</a>
        </div>
        <br>
        <div class="button-container-piece">
            <a class="btn btn-danger game-link-piece" style="--clr:#ff3333" href="@routes.HomeController.setPieceToMove(1)" role="button">1</a>
            <a class="btn btn-danger game-link-piece" style="--clr:#ff3333" href="@routes.HomeController.setPieceToMove(2)" role="button">2</a>
            <a class="btn btn-danger game-link-piece" style="--clr:#ff3333" href="@routes.HomeController.setPieceToMove(3)" role="button">3</a>
            <a class="btn btn-danger game-link-piece" style="--clr:#ff3333" href="@routes.HomeController.setPieceToMove(4)" role="button">4</a>
        </div>
    </body>

<!--
    <body class="game-body">
        <br><br>
        <div class="button-container-dice">
            <a class="game-link-dice" style="--clr:#ff3333" href="@routes.HomeController.roll"><span>Roll Dice</span></a>
            <a class="game-link-dice" style="--clr:#ff3333" href="@routes.HomeController.moveMagic"><span>Roll Magic Dice</span></a>
        </div>
        <div class="button-container-piece">
            <a class="game-link-piece" style="--clr:#ff3333" href="@routes.HomeController.setPieceToMove(1)" method="GET"><span>1</span></span></a>
            <a class="game-link-piece" style="--clr:#ff3333" href="@routes.HomeController.setPieceToMove(2)" method="GET"><span>2</span></span></a>
            <a class="game-link-piece" style="--clr:#ff3333" href="@routes.HomeController.setPieceToMove(3)" method="GET"><span>3</span></span></a>
            <a class="game-link-piece" style="--clr:#ff3333" href="@routes.HomeController.setPieceToMove(4)" method="GET"><span>4</span></span></a>
        </div>

    </body>-->
</body>
    




    
        <!--<br><br><br>
        <div class="button-container">
            <form action="@routes.HomeController.roll" method="GET">
                <button type="submit">Roll</button>
            </form>
            <form action="@routes.HomeController.moveMagic" method="GET">
                <button type="submit">Magic Dice</button>
            </form>
        </div>
        <br>
        <p>Pieces to move:</p>
        <br>
        <div>
            <div class="button-container">
                <form action="@routes.HomeController.setPieceToMove(1)" method="GET">
                    <button type="submit">1</button>
                </form>
                <form action="@routes.HomeController.setPieceToMove(2)" method="GET">
                    <button type="submit">2</button>
                </form>
            </div>
            <br>
            <div>
                <div class="button-container">
                    <form action="@routes.HomeController.setPieceToMove(3)" method="GET">
                        <button type="submit">3</button>
                    </form>
                    <form action="@routes.HomeController.setPieceToMove(4)" method="GET">
                        <button type="submit">4</button>
                    </form>
        </div>-->
</htlm>
}