@(mesh: String)

@main(title = "Game", currentPath = "/game") {
<htlm>
    <head>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/game.css")">
        <br><br><br><br><br>
        <h1 class="game-header">Game</h1>
    <div class="mesh">
        <pre style="font-size: 22px">@mesh</pre>
    </div>


    <body class="game-body">
        <br><br>
        <div class="button-container-dice">
            <a class="game-link-dice" style="--clr:#ff3333" href="@routes.HomeController.roll"><span>Roll Dice</span></a>
            <a class="game-link-dice" style="--clr:#ff3333" href="@routes.HomeController.moveMagic"><span>Roll Magic Dice</span></a>
        </div>
        <div class="button-container-piece">
            <a class="game-link-piece" style="--clr:#ff3333" href="@routes.HomeController.setPieceToMove(1)" method="GET"><span>1</span></span></a>
            <a class="game-link-piece" style="--clr:#ff3333" href="@routes.HomeController.setPieceToMove(2)" method="GET"><span>2</span></span></a>
            <a class="game-link-piece" style="--clr:#ff3333" href="@routes.HomeController.setPieceToMove(3)" method="GET"><span>3</span></span></a>
            <a class="game-link-piece" style="--clr:#ff3333" href="@routes.HomeController.setPieceToMove(4)" method="GET"><span>4</span></span></a>
        </div>

    </body>
    




    
        <!--<br><br><br>
        <div class="button-container">
            <form action="@routes.HomeController.roll" method="GET">
                <button type="submit">Roll</button>
            </form>
            <form action="@routes.HomeController.moveMagic" method="GET">
                <button type="submit">Magic Dice</button>
            </form>
        </div>
        <br>
        <p>Pieces to move:</p>
        <br>
        <div>
            <div class="button-container">
                <form action="@routes.HomeController.setPieceToMove(1)" method="GET">
                    <button type="submit">1</button>
                </form>
                <form action="@routes.HomeController.setPieceToMove(2)" method="GET">
                    <button type="submit">2</button>
                </form>
            </div>
            <br>
            <div>
                <div class="button-container">
                    <form action="@routes.HomeController.setPieceToMove(3)" method="GET">
                        <button type="submit">3</button>
                    </form>
                    <form action="@routes.HomeController.setPieceToMove(4)" method="GET">
                        <button type="submit">4</button>
                    </form>
        </div>-->
    </head>
</htlm>
}