@main(title = "Home", currentPath = "/") {

  <h1>Welcome to MADN!</h1>
<h2><b>Rules:</b></h2>
    <body>- This game can be played with 1-4 Players.</body>
    <br><br>
    <body>- Each player has four pieces to move, and they all start at their home field.</body>
    <br><br>
    <body>- A piece can be moved on their own starting point if a player rolls a six.</body>
    <br><br>
    <body>- If all pieces are still in their home field, a player is allowed to roll the dice three times.</body>
    <br><br>
    <body>- If a six is rolled, the player is allowed to roll the dice again.</body>
    <br><br>
    <body>- When a piece is already on the  starting point and a six is rolled, the player first has to move the piece that is on the starting point.</body>
    <br><br>
    <body>- The goal is to get all the four pieces into their finish fields.</body>
    <br><br>
    <body>- Pieces can jump over other pieces and throw out pieces from other players if they land on their field.</body>
    <br><br>
    <body>- A Player cannot throw out his own pieces and cannot advance further than the last field in the home row.</body>
}