@()

@main("Welcome to Play") {
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f5f5dc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #f5f5dc;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="roll">Game</a>
    <a href="about">About</a>
</div>

</body>
</html>
  <h1>Welcome to MADN!</h1>
<h2><b>Rules:</b></h2>
    <body>- This game can be played with 1-4 Players.</body>
    <br><br>
    <body>- Each player has four pieces to move, and they all start at their home field.</body>
    <br><br>
    <body>- A piece can be moved on their own starting point if a player rolls a six.</body>
    <br><br>
    <body>- If all pieces are still in their home field, a player is allowed to roll the dice three times.</body>
    <br><br>
    <body>- If a six is rolled, the player is allowed to roll the dice again.</body>
    <br><br>
    <body>- When a piece is already on the  starting point and a six is rolled, the player first has to move the piece that is on the starting point.</body>
    <br><br>
    <body>- The goal is to get all the four pieces into their finish fields.</body>
    <br><br>
    <body>- Pieces can jump over other pieces and throw out pieces from other players if they land on their field.</body>
    <br><br>
    <body>- A Player cannot throw out his own pieces and cannot advance further than the last field in the home row.</body>
}
