@main(title = "Rules", currentPath = "/rules") {
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/rules.css")">
        <title>Document</title>
    </head>
    <body>

        <div class="rules">
            <br>
            <h1 class="rules-header">Rules</h1>
            <p class="rules-text">
                • This game can be played with 1-4 Players.<br>
                • Each player has four pieces to move, and they all start at their home field.<br>
                • A piece can be moved on their own starting point if a player rolls a six.<br>
                • If all pieces are still in their home field, a player is allowed to roll the dice three times.<br>
                • If a six is rolled, the player is allowed to roll the dice again.<br>
                • When a piece is already on the  starting point and a six is rolled, the player first has to move the piece that is on the starting point.<br>
                • The goal is to get all the four pieces into their finish fields.<br>
                • Pieces can jump over other pieces and throw out pieces from other players if they land on their field.<br>
                • A Player cannot throw out his own pieces and cannot advance further than the last field in the home row.
            </p>

        </div>
        
    </body>
    </html>

}